@model IssuePilot.Models.ViewModels.Statistics.StatisticsCalendarViewModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="~/lib/fullcalendar/main.js"></script>
<link href="~/lib/fullcalendar/main.css" rel="stylesheet" />
<script src="~/lib/fullcalendar/locales-all.js"></script>
<script src="~/js/statisticsDetails.js"></script>
<script src="~/js/calendarDetails.js"></script>

<script>
    var listOfTicketCreateEvents =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListOfTicketCreatedDate.ToList()));
    var listOfTicketClosedEvents =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListOfTicketClosedDate.ToList()));
    var listOfDeadlineEvents = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListOfTicketDeadlines.ToList()));
</script>

@{
    ViewData["Title"] = "Kalender";
    ViewBag.Tab = "4";
}

<div class="row justify-content-between mx-0">
    <h4 class="text-break">
        <a class="back-link btn-slide rounded-pill pr-2 py-1" asp-action="Index" asp-controller="Statistics">
            <span class="icon-wrapper-clickable">
                <svg class="back-icon" width="15" height="25" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 24L3.83456 15.018C2.79432 13.8738 2.79432 12.1262 3.83456 10.982L12 2" stroke-width="4" />
                </svg>
            </span>
            <span class="back-icon has-icon button-text">Projekte</span>
        </a>
    </h4>
</div>

<h2 class="text-break mt-4 mb-4">
    @Html.DisplayFor(model => model.ProjectTitle)
</h2>

<div>
    <a class="tab-link underline-hover-wrapper" asp-action="Details" asp-controller="Statistics" asp-route-id="@Model.Id"><span class="underline-hover">Details</span></a>
    <a class="tab-link" asp-route-id="@Model.Id"><span class="gradient-underline">Kalender</span></a>

</div>

<hr />
<div class="card border-0 card-body shadow-card-lg">
    <div id="calendar"></div>
</div>