@model IssuePilot.Models.ViewModels.ProjectIndexViewModel;
@{
    ViewData["Title"] = "Projekte";
    ViewBag.Tab = "2";
}
@if (User.IsInRole("Admin") || User.IsInRole("Projektmanager"))
{
    <div class="text-right mb-3 mb-lg-1">
        <button type="button" style="min-width:60px" class="text-nowrap btn btn-blue btn-slide btn-slide-blue text-right" data-toggle="modal" data-target="#p-">
            + Projekt
        </button>
    </div>

    <div class="modal fade" id="p-" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content border-0 py-2 ">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Projekt erstellen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-5">
                    <form asp-action="Index">
                        <div class="form-group">
                            <label class="control-label">Titel</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger text-break"></span>
                            @if (Model.TitleExists == true)
                            {
                                <label class="text-danger text-break">Der Titel existiert bereits!</label>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Beschreibung</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>
                        <div class="form-group mt-5 text-right">
                            <button type="submit" style="min-width:60px" class="text-nowrap btn btn-blue btn-slide btn-slide-blue">Erstellen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (Model.TitleExists)
    {
        <script>
            window.onload = function () {
                $('#p-').modal('show');
            };
        </script>
    }
}
else
{
    <div class="mt-5"></div>
}
<div class="justify-content-center mb-4">
    <form class="col-lg-6 offset-lg-3" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" method="get">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-search rounded-pill-left border-right-0">
                    <img src="~/img/Search.svg" />
                </button>
            </div>
            <input class="form-control rounded-pill-right" placeholder="Suchen..." type="search" name="SearchString" value="@ViewData["CurrentFilter"]" data-toggle="tooltip" data-placement="top" title="Nach Titel oder Beschreibung suchen" />
        </div>
    </form>
</div>
<table class="table table-hover text-break overflow-hidden shadow-card-lg">
    <thead>
        <tr style="border: 1px solid rgba(0,0,0,.125);">
            <th scope="col" class="col-4 col-md-5 col-xl-5">
                <a class="hover-text-icon btn rounded-pill pl-2 py-1" asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">
                    Titel
                    <div class="icon baseline">
                        <svg viewBox="0 0 20 5" fill="none">
                            <path id="icon-fill-blue" d="M12.6916 1C13.5671 1 14.0199 2.04532 13.4211 2.68398L8.22886 8.22186C7.83376 8.64325 7.16483 8.64322 6.76978 8.22179L1.57851 2.68391C0.979808 2.04523 1.43266 1 2.30808 1H12.6916Z" fill="#464c50" />
                        </svg>
                    </div>
                </a>
            </th>
            <th scope="col" class="col-4 col-md-4 col-xl-4">
                <a class="hover-text-icon btn rounded-pill pl-2 py-1" asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParm"]">
                    Beschreibung
                    <div class="icon baseline">
                        <svg viewBox="0 0 20 5" fill="none">
                            <path id="icon-fill-blue" d="M12.6916 1C13.5671 1 14.0199 2.04532 13.4211 2.68398L8.22886 8.22186C7.83376 8.64325 7.16483 8.64322 6.76978 8.22179L1.57851 2.68391C0.979808 2.04523 1.43266 1 2.30808 1H12.6916Z" fill="#464c50" />
                        </svg>
                    </div>
                </a>
            </th>
            <th scope="col" class="col-4 col-md-3 col-xl-3">
                <a class="hover-text-icon btn rounded-pill pl-2 py-1" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    Erstellungsdatum
                    <div class="icon baseline">
                        <svg viewBox="0 0 20 5" fill="none">
                            <path id="icon-fill-blue" d="M12.6916 1C13.5671 1 14.0199 2.04532 13.4211 2.68398L8.22886 8.22186C7.83376 8.64325 7.16483 8.64322 6.76978 8.22179L1.57851 2.68391C0.979808 2.04523 1.43266 1 2.30808 1H12.6916Z" fill="#464c50" />
                        </svg>
                    </div>
                </a>
            </th>
        </tr>
    </thead>

    <tbody style="font-family: Montserrat-Medium;">
        @foreach (var item in Model.Projects)
        {
            <tr style="cursor: pointer;  border: 1px solid rgba(0,0,0,.125);" onclick="location.href='@Url.Action("Tickets", "Ticket", new {id=item.Id })'" class="hover-shadow">
                <td>
                    <a class="text-line-limit text-decoration-none" asp-controller="Ticket" asp-action="Tickets" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    <a class="text-decoration-none text-line-limit" asp-controller="Ticket" asp-action="Tickets" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Description)</a>
                </td>
                <td>
                    <a class="text-decoration-none" asp-controller="Ticket" asp-action="Tickets" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CreateDate)</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevWrapper = !Model.Projects.HasPreviousPage ? "" : "underline-hover-wrapper";
    var prevUnderline = !Model.Projects.HasPreviousPage ? "gradient-underline" : "underline-hover";
}
<div class="mb-md-3 mb-lg-4 mb-2"></div>
<div class="text-center mb-5">
    @if (Model.Projects.PageIndex > 2)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageNumber="1"
           class="tab-link underline-hover-wrapper">
            <span class="underline-hover">1</span>
        </a>
        <span>...</span>
    }

    @if (Model.Projects.PageIndex > 1)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageNumber="@(Model.Projects.PageIndex - 1)"
           class="tab-link @prevWrapper">
            <span class="@prevUnderline">@(Model.Projects.PageIndex - 1)</span>
        </a>
    }
    <a class="tab-link">
        <span class="gradient-underline">@Model.Projects.PageIndex</span>
    </a>
    @if (Model.Projects.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageNumber="@(Model.Projects.PageIndex + 1)"
           class="tab-link underline-hover-wrapper">
            <span class="underline-hover">@(Model.Projects.PageIndex + 1)</span>
        </a>
    }
    @if (Model.Projects.TotalPages > Model.Projects.PageIndex + 1)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageNumber="@(Model.Projects.PageIndex + 2)"
           class="tab-link underline-hover-wrapper">
            <span class="underline-hover">@(Model.Projects.PageIndex + 2)</span>
        </a>
    }
    @if (Model.Projects.TotalPages > Model.Projects.PageIndex + 2)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pageNumber="@(Model.Projects.PageIndex + 3)"
           class="tab-link underline-hover-wrapper">
            <span class="underline-hover">@(Model.Projects.PageIndex + 3)</span>
        </a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}